@charset "utf-8";
/* CSS Document */

h1{
	color: #A57D31;
	line-height: 20px;
	font-size: 400%;
}
p{
	line-height: 17px;
}
h3{
	margin-top: 0px;
	margin-bottom: 0px;
}
#header{
	background-image: url("plank_header.jpg");
	background-repeat: no-repeat;
	backgrount-position: center;
	background-size: 2000px 2000px;
	margin: 0;
	width: 100%;
	text-align: center;
	color: #A57D31;
	background-color: #fff;
	height: 120px;
	-webkit-text-stroke-width: 0.00001px;
    -webkit-text-stroke-color: black;
	font-family: 'Meddon', cursive;
	position: fixed;
	top: 0;
	box-shadow: 0px 5px 10px #000;
	z-index: 1;
	}
	
body{
	background-image: url("plank_background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1920px 2000px;
	height: 100%;
	margin: 0;
	z-index: -2;
	}
#content{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(200, 200, 200, 0.2);
	z-index: -1;
}
#mapbox{
	margin-top: 140px;
	margin-right: auto;
	margin-left: auto;
	width: 1060px;
	height: 830px;
	background-color: #3D1F09;
	z-index: 2;
	box-shadow: 5px 5px 10px #000;
	border: 3px outset #281405;
}

#mapbox img{
	position: absolute;
	top: 181px;
	left: 445px;
	height: 760px;
	width: auto;
	padding: 1px;
	border: 5px double #A57D31;
	z-index: 2;
}
#raven{
	background-image: url("raven.png");
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 600px;
	left: 620px;
	z-index: 3;
}
#marker{
	background-image: url("location.png");
	background-size: contain;
	height: 30px;
	width: 12px;
	background-repeat: no-repeat;
	position: absolute;
	top: 580px;
	left: 933px;
	z-index: 3;
}

#quests{
	position: absolute;
	height: 380px;
	width: 400px;
	background-color: #3D1F09;
	top: 140px;
	margin-left: 10px;
	box-shadow: 5px 5px 10px #000;
	z-index: 2;
	font-family: 'Aclonica', sans-serif;
	border: 3px outset #281405;
}
#questsbg{
	position: relative;
	top: -20px;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	height: 300px;
	padding: 5px;
	background-color: #A57D31;
	word-wrap: normal;
	border-style: inset;
	border-color: #3D1F09;
	overflow: auto;
}
#quests h2{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -10px;
	width: 390px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 15px 15px 5px 5px;
	line-height: 35px;
	text-align: center;
	color: #A57D31;
}

#diagnostic{
	position: absolute;
	height: 439px;
	width: 400px;
	background-color: #3D1F09;
	top: 530px;
	margin-left: 10px;
	box-shadow: 5px 5px 10px #000;
	z-index: 2;
	font-family: 'Aclonica', sans-serif;
	border: 3px outset #281405;
}
#diagnostic h2{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -10px;
	width: 390px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 15px 15px 5px 5px;
	line-height: 35px;
	text-align: center;
	color: #A57D31;
}
#diagnostic ul{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#diagnosticbg{
	position: relative;
	top: -20px;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	height: 360px;
	padding: 5px;
	background-color: #A57D31;
	word-wrap: normal;
	border-style: inset;
	border-color: #3D1F09;
	overflow: auto;
}
#diagnostic img{
	position: absolute;
	height: 350px;
	width: auto;
	top: 8px;
	left: 193px;
	padding: 1px;
	border: 2px inset #A57D31;
	z-index: 2;
}
#issueforeport{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 80px;
	left: 230px;
	z-index: 1;
}
#issueforemid{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 80px;
	left: 270px;
	z-index: 1;
}
#issueforeboard{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 80px;
	left: 310px;
	z-index: 1;
}
#issueport{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 170px;
	left: 210px;
	z-index: 1;
}
#issuemid{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 170px;
	left: 270px;
	z-index: 1;
}
#issueboard{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 170px;
	left: 333px;
	z-index: 1;
}
#issueaftport{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 280px;
	left: 223px;
	z-index: 1;
}
#issueaftmid{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 280px;
	left: 270px;
	z-index: 1;
}
#issueaftboard{
	background-image: url("issue.png");
	height: 20px;
	width: 20px;
	background-size: contain;
	position: absolute;
	top: 280px;
	left: 319px;
	z-index: 1;
}
#calendar{
	position: absolute;
	height: 270px;
	width: 400px;
	background-color: #3D1F09;
	top: 140px;
	right: 10px;
	margin-left: 10px;
	box-shadow: 5px 5px 10px #000;
	z-index: 2;
	font-family: 'Aclonica', sans-serif;
	overflow: hidden;
	border: 3px outset #281405;
}
#calendar h2{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -10px;
	width: 390px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 15px 15px 5px 5px;
	line-height: 35px;
	text-align: center;
	color: #A57D31;
}
#calendarbg{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 7px;
	width: 372px;
	height: 240px;
	padding: 5px;
	background-color: #A57D31;
	word-wrap: normal;
	border-style: inset;
	border-color: #3D1F09;
	overflow: auto;
}
#calendar img{
	left: 5px;
	position: absolute;
	top: 5px;
	height: 235px;
	width: 370px;
	z-index: 2;
}
#today{
	/* day   7 60 112 165 217 270 322
	week
		 28 
		 81	
		134	
		186
	*/
	position: absolute;
	height: 52px;
	width: 51px;
	background-color: rgba(27, 147, 0, .6);
	top: 81px;
	left: 112px;
	z-index: 3;
}
#alert{
	z-index: 4;
	background-image: url("alert.png");
	background-size: contain;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 100px;
	left: 285px;
}
#number{
	line-height: 14px;
	font-size: 13px;
	position: absolute;
	top: 20px;
	text-align: left;	
	left: -30px;
	list-style-type: none;
	z-index: 4;
}
#first{
	line-height: 20px;
	font-size: 12px;
	position: absolute;
	top: -5px;
	left: -30px;
	list-style-type: none;
	z-index: 4;
}
#calendar li {
    display: inline-block;
    vertical-align: top;
	width: 30px;
	padding-right: 18px;
	text-align: center;
	overflow: hidden;
}

#relations{
	position: absolute;
	height: 270px;
	width: 400px;
	background-color: #3D1F09;
	top: 420px;
	right: 10px;
	margin-left: 10px;
	box-shadow: 5px 5px 10px #000;
	z-index: 2;
	font-family: 'Aclonica', sans-serif;
	border: 3px outset #281405;
}
#relations h2{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -10px;
	width: 390px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 15px 15px 5px 5px;
	line-height: 35px;
	text-align: center;
	color: #A57D31;
}
#relationsbg{
	position: relative;
	top: -20px;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	height: 190px;
	padding: 5px;
	background-color: #A57D31;
	word-wrap: normal;
	border-style: inset;
	border-color: #3D1F09;
	overflow: auto;
}
#loot{
	position: absolute;
	height: 270px;
	width: 400px;
	background-color: #3D1F09;
	right: 10px;
	top: 700px;
	margin-left: 10px;
	box-shadow: 5px 5px 10px #000;
	z-index: 2;
	font-family: 'Aclonica', sans-serif;
	border: 3px outset #281405;
}
#loot h2{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -10px;
	width: 390px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 15px 15px 5px 5px;
	line-height: 35px;
	text-align: center;
	color: #A57D31;
}

#lootbg{
	position: relative;
	top: -20px;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	height: 190px;
	padding: 5px;
	background-color: #A57D31;
	word-wrap: normal;
	border-style: inset;
	border-color: #3D1F09;
	overflow: auto;
}
#loot ul{
	margin-top: 5px;
	margin-bottom: 5px;
}
.dropbtn {
    background-color: #7C4D2B;
    color: white;
    padding: 10px;
	width: 370px;
    font-size: 14px;
	text-align: left;
    border: none;
    cursor: pointer;
	z-index: 3;
	border-radius: 10px 10px 5px 0px;
	font-family: 'Aclonica', sans-serif;
	margin-bottom: 10px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3D1F09;
	outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
	background-color: #FFB170;
	font-size: 14px;
	line-height: 12px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-top: -10px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.show {display: block;}	

.w3-dropdown-hover{
	float:right; 
	position: absolute;
	top: 145px;
	right: 450px;
	height: 27px;
	width: 36px;
	border: 3px outset #281405;
	z-index: 4;
	background-image: url("mapgrid.png");
	background-size: contain;
}
.w3-btn,.w3-button{
	cursor:pointer;
	float:right; 
	position: absolute;
	top: 0px;
	right: 0px;
	height: 27px;
	width: 36px;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0);
	background-size: contain;
	border: none;
}   
.w3-dropdown-hover:hover .w3-dropdown-content{
	display: inline;
	height: 120px;
	width: 130px;
	background-color: #3D1F09;
	float: right;
	box-shadow: 5px 5px 10px 0px #000;
	border: 3px outset #281405;
}
.w3-dropdown-content{
	cursor:auto;
	color:#000;
	display:none;
	position:relative;
	top: 27px;
	right: -3px;
	min-width:160px;
	margin:0;
	padding:0;
	z-index:3;
}
#one{
	height: 33px;
	width: auto;
	margin-left: 10px;
	margin-top: 7px;
	z-index: 4;
}
#two{
	height: 33px;
	width: auto;
	z-index: 4;
}
#three{
	height: 33px;
	width: auto;
	z-index: 4;
}
#four{
	height: 33px;
	width: auto;
	margin-left: 10px;
	z-index: 4;
}
#five{
	height: 33px;
	width: auto;
	z-index: 4;
}
#six{
	height: 33px;
	width: auto;
	z-index: 4;
}
#seven{
	height: 33px;
	width: auto;
	margin-left: 10px;
	z-index: 4;
}
#eight{
	height: 33px;
	width: auto;
	z-index: 4;
}
#nine{
	height: 33px;
	width: auto;
	z-index: 4;
}
#mapbox p{
	font-family: 'Aclonica', sans-serif;
	background-color: #A57D31;
	border: 5px inset #3D1F09;
	position: absolute;
	width: 400px;
	top: 130px;
	left: 445px;
	font-size: 18px;
	line-height: 20px;
}